{% extends 'barbers/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title_block %}
    Add Barbershop
{% endblock %}
{% block head %}
    <style></style>
{% endblock %}
{% block body_block %}
    <div class="flex-col flex items-start justify-start text-black">
        <div
            class="flex-col flex items-start justify-start p-20 w-[100vw] md:w-[100vw]"
        >
            <div class="mb-5">
                <b class="uppercase text-3xl">Add Barber Shop</b>
            </div>
            <div class="flex-col flex items-center justify-center">
                <form id="form" method="post">
                    {% if form.errors %}
                        <div
                            class="text-black p-5 m-5 bg-red-900 ounded-sm text-center items-center justify-center"
                        >
                            {{ form.errors }}
                        </div>
                    {% endif %} {% csrf_token %}
                    <div
                        class="flex flex-col md:flex-row items-center justify-center space-y-5 md:space-y-0 md:space-x-20 text-black"
                    >
                        <div class="pl-0 p-12">
                            <div class="relative z-30">
                                <div id="form-messages" class="absolute hidden p-3 bg-green-500 -top-14 duration-75  rounded-sm text-center items-center justify-center m-5 text-black">
                                </div>
                            </div>
                            {% for field in barber_form %}
                                <div class="relative">
                                    <p class="text-black text-md transition-all duration-100 top-0">
                                        {{ field.label }}
                                    </p>
                                    {{ field|add_class:"border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 shadow-sm w-full py-5 pl-3 pr-24 leading-5 text-gray-900 sm:text-sm sm:leading-5 mb-5 peer" }}

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div
                        class="flex flex-col items-start justify-start space-y-10 text-black"
                    >

                        <div class="pl-0 pt-0 p-12">
                            <button
                                type="submit"
                                class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded"
                            >
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}
</div>
