{% extends 'barbers/base.html' %}
{% load static %}

{% block title_block %}
    Barbers
{% endblock %}

{% block head %}
<!-- Import js/barbers.js -->
    <script src="{% static 'js/barbers.js' %}"></script>
{% endblock %}

{% block body_block %}
<div
	class="flex flex-col items-center justify-center bg-[#394f66] p-5 text-white"
>
    <div class="w-full relative flex my-10 justify-center items-center">
        <h1 class="text-4xl absolute  left-1/2 -translate-x-1/2">Barbers</h1>
        <!--<h1 class="text-lg absolute right-10 mr-10">Filter</h1>-->
        
        <div class="relative inline-block">

	<div class="flex text-black mt-5 max-w-screen space-x-5 items-center justify-center">
		<!-- For loop comes here -->
        {% for barber in barberShops %} {% if forloop.counter > 3 %} {% endif %}
		<div class="bg-white rounded-xl h-auto flex flex-col items-center space-y-5 shadow-2xl pb-5 barbershop">
			<a href="/barber/{{ barber.slug }}/">
				{%if barber.picture%}
				<img src="{{MEDIA_URL}}{{barber.picture}}" class="rounded-t-xl "/>
				{% else %}
				<img src="{% static "images/example.png" %}" class="rounded-t-xl"/>
				{% endif%}
			</a>
			<h3 class="mt-5 text-3xl">{{ barber.name }}</h3>
			<div class="flex space-x-1">
				{% for i in ''|rjust:barber.user_rating %}
					<img src="{% static "images/star.png" %}" class="rounded-t-xl"/>
				{% endfor %}
			</div>
			<div>Users rated it</div>
			<div  class="flex space-x-10 font-semibold">
				{% for i in barber.user_attr%}
					<a id = "attr" > {{i}}</a>
				{%endfor%}
			</div>
			{% if user.is_authenticated %}
			<a href="/barber/{{ barber.slug }}/booking">
			<button class="book bg-green-500 text-2xl p-2 text-white" >
				Book
			</button>
			</a>
			{%else%}
			<a href={% url 'barbers:auth_login' %}>
			<button class="book bg-green-500 text-2xl p-2 text-white" >
				Book
			</button>
			</a>
			{%endif%}
		</div>
        {% endfor %}
	</div>
</div>
{% endblock %}
