{% load static %} 

<!DOCTYPE html>
<html>
	<head>
		<title>
			BestBarber
		</title>
		<link rel="stylesheet" href="{% static "css/output.css" %}?{% now " u"="" %}"="">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	</head>
	<body>
        <div class="h-20 bg-slate-700 text-white font-['Roboto']">
			<div class="flex justify-between items-center">
				<img src="{% static "images/logo.png" %}" class="flex-initial ml-3 mt-3"></img>
				<ul  class="hidden md:flex space-x-10 text-xl mt-6 flex-auto justify-end mr-40">
					<li class="menuitem">Home</li>
					<li class="menuitem">Barbers</li>
					<li class="menuitem">Login</li>
				</ul>
				<img src="{% static "images/burger.png" %}" class="md:hidden mt-5 mr-5"/>
			</div>
		</div>
		<div>{% block body_block %} {% endblock %}</div>
	</body>
</html>