{% extends 'barbers/base.html' %}
{% load static %}

{% block title_block %}
    Home Page
{% endblock %}
{% block head %}
<!-- Import js/index.js -->
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <section class="text-2xl text-white p-5 flex space-x-20 texte-center">
                <div>
                    <p>Welcome back to Best Barber,</p>
                    {{ user.userprofile.first_name }} {{ user.userprofile.last_name }}!
                </div>

        </section>
    {% else %}
        <section class="items-center w-100 h-[45vh] md:h-[75vh] bg-cover bg-[url('../images/heading.png')]">
            <div class="p-20" data-aos="zoom-out" data-aos-delay="100">
                <h1 class="m-0 w-fit text-4xl md:text-6xl text-white bg-[#00000031] shadow-2xl">Find the Best Barber </h1><br>
                <h1 class="m-0 w-fit text-4xl md:text-6xl text-white bg-[#00000031] shadow-2xl">For you. </h1><br>
                <a href="{% url 'barbers:auth_register' %}" class="text-white bg-green-500 p-2 text-lg rounded-lg hover:bg-green-700 duration-500">Join Today</a>
            </div>
        </section>
    {% endif %}
    <div>
	<!-- Trending Barbershops use tailwindcss -->
        <div class="container mx-auto">
            <h2 class="text-3xl font-bold text-center text-white shadow-2xl m-10">TRENDING</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                {% for trend in trend_list%}
                    <div class="bg-white rounded-lg shadow-lg barbershop">
                        {%if barber.picture%}
				            <img class="w-full h-56 object-cover rounded-t-lg"
                                 src="{{MEDIA_URL}}{{trend.picture}}" alt={{trend.picture.name}}/>
				        {% else %}
				            <img class="w-full h-56 object-cover rounded-t-lg"
                                 src="{% static "images/example.png" %}" alt={{trend.picture.name}}/>
				        {% endif%}
                    <div class="p-4">
                        <h1 class="text-xl font-bold text-gray-800">{{trend.name}}</h1>
                        <p class="text-gray-600">
                            {{trend.description}}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
{% endblock %}