{% extends 'barbers/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title_block %}
    Register
{% endblock %}

{% block head %}
    <style>
    </style>
{% endblock %}

{% block body_block %}
    <div class="flex-col flex items-start justify-start text-white">
        <div class="bg-slate-800 flex-col flex items-start justify-start p-20 w-[100vw] md:w-[100vw]">
            <div class="mb-5">
                <b class="uppercase text-3xl">Register</b>
            </div>
            <div class="flex-col flex items-center justify-center">
                {% if registered %}
                    <b  class=""><strong>Thank you for registering!</strong>
                        <a href="{% url 'barbers:auth_login' %}">Now you may login.</a><br /></b>
                {% else %}
		<!-- Make a good looking form using django form and tailwindcss-->
                    <form method="post" action="{% url 'barbers:auth_register' %}">
			<!-- add django errorlist form-->
                        {% if form.errors %}
                            <div class="text-white p-5 m-5 bg-red-900 ounded-sm text-center items-center justify-center">
                                {{ form.errors }}
                            </div>
                        {% endif %}

                        {% csrf_token %}
                        <div class="flex flex-col md:flex-row items-center justify-center space-y-5 md:space-y-0 md:space-x-20 text-black">
				<!-- add title, first name, last name-->
                            <div class="pl-0 p-12">
                                {% for field in user_form %}
                                    <div class="relative">
                                        {{ field|add_class:"border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 shadow-sm w-full py-5 pl-3 pr-24 leading-5 text-gray-900 sm:text-sm sm:leading-5 mb-5 peer" }}

                                        <div class="absolute inset-y-0 left-0 -top-5 flex items-center px-2 pointer-events-none peer-focus:hidden peer-span">
                                            <span class="text-gray-700 text-md transition-all duration-100 top-0">
                                                {{ field.label }}
                                            </span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="pl-0 first-letter:p-12">
                                {% for field in profile_form %}
					<!-- if the field is called title ignore-->
                                    <div class="relative">
                                        {{ field|add_class:"border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 shadow-sm w-full py-5 pl-3 pr-24 leading-5 text-gray-900 sm:text-sm sm:leading-5 mb-5 peer" }}

                                        <div class="absolute inset-y-0 left-0 -top-5 flex items-center px-2 pointer-events-none peer-focus:hidden peer-empty:text-red-500 peer-span">
                                            <span class="text-gray-700 text-md transition-all duration-100 top-0">
                                                {{ field.label }}
                                            </span>
                                        </div>
                                    </div>

                                {% endfor %}
				<!-- use tailwindcss to make a django form -->
				<!-- add submit button-->
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row items-start justify-start space-y-5 md:space-y-0 md:space-x-20 text-black">
                            <div class="pl-0 pt-0 p-12">
                                <button type="submit" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
		<!-- add a submit button that doesnt cause input elements to pushed up-->



                {% endif %}
            </div>
        </div>

        <script>
            $(document).ready(function() {
                $('.peer').on('input', function() {
                    var $span = $(this).siblings('.peer-span');
                    if ($(this).val().length > 0) {
                        $span.addClass('hidden');
                    } else {
                        $span.removeClass('hidden');
                        $span.addClass('flex');
                        $span.addClass('peer-focus:hidden');
                    }
                });
            });
        </script>

{% endblock %}