{% extends 'barbers/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title_block %}
    Register
{% endblock %}

{% block head %}
    <script src="{% static 'js/forms_util.js' %}"></script>
{% endblock %}

{% block body_block %}
    <div class="flex-col flex items-center justify-center md:items-start md:justify-start max-h-screen">
        <div class=" flex-col flex items-center justify-center md:items-start md:justify-start w-[100vw] md:w-[100vw] max-h-screen h-[90vh] md:h-[80vh] p-10">
            <div class="mb-5">
                <b class="uppercase text-3xl">Register</b>
            </div>
            <div class="flex-col flex items-center flow-warp  justify-center">
                {% if registered %}
                    <b  class=""><strong>Thank you for registering!</strong>
                        <a href="{% url 'barbers:auth_login' %}">Now you may login.</a><br /></b>
                {% else %}
		<!-- Make a good looking form using django form and tailwindcss-->
                    <form method="post" action="{% url 'barbers:auth_register' %}" enctype="multipart/form-data">
			<!-- add django errorlist form-->
                        {% if form.errors %}
                            <div class=" p-5 m-5 bg-red-900 ounded-sm text-center items-center justify-center">
                                {{ form.errors }}
                            </div>
                        {% endif %}

                        {% csrf_token %}
                        <div class="flex flex-col md:flex-row  items-center justify-center space-y-5 md:space-y-0 md:space-x-20 text-black">
				<!-- add title, first name, last name-->
                            <div class="md:pl-0 md:p-12">
                                {% for field in user_form %}
                                    {{field.label_tag}}
                                    <div class="relative">
                                        {{ field|add_class:"border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 shadow-sm w-full py-5 pl-3 pr-24 leading-5 text-gray-900 sm:text-sm sm:leading-5 mb-5 peer" }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="pl-0">
                                {% for field in profile_form %}
					<!-- if the field is called title ignore-->
                                {% if field.name != "picture" %}
                                    <div class="relative" >
                                        {{field.label_tag}}
                                        {{ field|add_class:"border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 shadow-sm w-full py-5 pl-3 pr-24 leading-5 text-gray-900 sm:text-sm sm:leading-5 mb-5 peer" }}
                                    </div>

                                {%endif%}

                                {% endfor %}
				<!-- use tailwindcss to make a django form -->
				<!-- add submit button-->
                            </div>
                        </div>
                        <div>
                            <div class="flex flex-col items-center justify-center md:items-start md:justify-start">
                                <div class="relative">

                                        Picture : <input type="file" name="picture" accept="image/*" class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 shadow-sm w-full py-5 pl-3 pr-24 leading-5 text-gray-900 sm:text-sm sm:leading-5 mb-5 peer" id="id_picture">
                                    </div>
                                <div class="mb-5">
                                    Already have an account?
                                    <a href="{% url 'barbers:auth_login' %}" class="text-indigo-500 hover:text-indigo-700">Login</a>
                                </div>
                                <button type="submit" class="w-1/2 md:w-1/5 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
		<!-- add a submit button that doesnt cause input elements to pushed up-->



                {% endif %}
            </div>
        </div>

{% endblock %}